<!DOCTYPE html>
<head>
    <meta charset="UTF-8" />
    <title>The Hitchhikers - Scouting</title>
</head>
<body>
    {{> header}}
    <section>
        <header>Match #<span class="match-number">--</span></header>
        {{> match_input}}
    </section>
</body>
{{> scripts}}
</html>